/* Global CSS */
* {
  font-family: Open Sans;
}

:root {
  --primary: #fd6e0a;
  --dark-1: #181818;
  --dark-2: #474747;
  --dark-3: #757575;
  --light-pink: #fff8f3;
}

.btn-primary {
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--primary);
  color: #fff;
}

.btn-primary-outlined {
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  background: none;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.section {
  max-width: 1140px;
  margin: auto;
  margin-top: 130px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: var(--dark-1);
  text-align: center;
  margin-bottom: 30px;
}

.section-description {
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-3);
  text-align: center;
}

.title-description-padding {
  padding: 0 150px;
}

/* header styles */

header {
  background-color: var(--light-pink);
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}

/* navigation styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding: 50px 0;
  margin: 0 auto;
}

nav .nav-title {
  font-weight: 700;
  font-size: 45px;
}

nav .nav-title span {
  color: var(--primary);
}

nav .nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .nav-list li a {
  color: var(--dark-2);
  font-size: 20px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark-2);
  line-height: 60px;
}

.banner-title {
  color: var(--dark-1);
  font-weight: 700;
  font-size: 85px;
  line-height: 115px;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-3);
  margin-bottom: 30px;
}

.banner-left {
  margin-left: 230px;
}

.banner-right {
  margin-right: 100px;
}

.banner-right img {
  position: relative;
  margin-bottom: -5px;
}

/* about styles */
.about {
  background-color: var(--light-pink);
  padding: 130px 150px;
  border-radius: 10px;
}

.about-info {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.about-info-title {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-3);
}

.about-info-description {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--dark-2);
  margin-bottom: 30px;
}

/* What I Do styles */
.what-i-do-skills {
  margin-top: 50px;
  display: flex;
  gap: 25px;
  justify-content: space-around;
}

.skill-item {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
}

.skill-item img {
  margin-bottom: 28px;
}

.skill-item .skill-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--dark-1);
  margin-bottom: 20px;
}

.skill-item .skill-description {
  line-height: 28px;
}

/* resume styles */
.resume-sub-container {
  display: flex;
  gap: 24px;
}

.resume-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
  color: var(--dark-2);
}

.resume-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: var(--dark-2);
  margin-bottom: 10px;
}

.resume-sub-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--dark-3);
  margin-bottom: 20px;
}

.resume-description {
  line-height: 28px;
}

.resume-item hr {
  margin: 30px 0;
}

.resume .button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* Footer styles */
footer {
  background-color: var(--light-pink);
  margin-top: 115px;
  padding: 130px 0;
}

.footer {
  display: flex;
  gap: 100px;
  margin-top: 0 !important;
}

.footer .section-title,
.footer .section-description {
  text-align: left !important;
}

.footer-left .section-title {
  margin-bottom: 20px !important;
}

.footer .social-icons {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.form-field {
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark-3);
}
